.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(155, 201, 216, 0.658);
}